USE [db-dployr-main]
GO
/****** Object:  Table [dbo].[DeploymentRequests]    Script Date: 12/6/2025 11:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeploymentRequests](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[Service] [nvarchar](100) NOT NULL,
	[DbEngine] [nvarchar](50) NULL,
	[InstanceType] [nvarchar](100) NULL,
	[InitiatedBy] [nvarchar](256) NOT NULL,
	[UseOwnAccount] [bit] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[EndpointUrl] [nvarchar](512) NULL,
	[ServiceUser] [nvarchar](256) NULL,
	[ServicePassword] [nvarchar](512) NULL,
 CONSTRAINT [PK_DeploymentRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kb_articles]    Script Date: 12/6/2025 11:22:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kb_articles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[CategoryId] [bigint] NOT NULL,
	[ContentHtml] [nvarchar](max) NOT NULL,
	[Status] [tinyint] NOT NULL,
	[CreatedByEmail] [nvarchar](256) NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ViewCount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kb_categories]    Script Date: 12/6/2025 11:22:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kb_categories](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_DeploymentRequests_CreatedAt]    Script Date: 12/6/2025 11:22:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_DeploymentRequests_CreatedAt] ON [dbo].[DeploymentRequests]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DeploymentRequests_Status]    Script Date: 12/6/2025 11:22:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_DeploymentRequests_Status] ON [dbo].[DeploymentRequests]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_kb_articles_Category_Status]    Script Date: 12/6/2025 11:22:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_kb_articles_Category_Status] ON [dbo].[kb_articles]
(
	[CategoryId] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_kb_articles_CreatedAtUtc]    Script Date: 12/6/2025 11:22:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_kb_articles_CreatedAtUtc] ON [dbo].[kb_articles]
(
	[CreatedAtUtc] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_kb_articles_Status]    Script Date: 12/6/2025 11:22:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_kb_articles_Status] ON [dbo].[kb_articles]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_kb_articles_Status_Category_CreatedAt]    Script Date: 12/6/2025 11:22:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_kb_articles_Status_Category_CreatedAt] ON [dbo].[kb_articles]
(
	[Status] ASC,
	[CategoryId] ASC,
	[CreatedAtUtc] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeploymentRequests] ADD  CONSTRAINT [DF_DeploymentRequests_CreatedAt]  DEFAULT (sysdatetimeoffset()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[kb_articles] ADD  CONSTRAINT [DF_kb_articles_ViewCount]  DEFAULT ((0)) FOR [ViewCount]
GO
ALTER TABLE [dbo].[kb_articles]  WITH CHECK ADD  CONSTRAINT [FK_kb_articles_categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[kb_categories] ([Id])
GO
ALTER TABLE [dbo].[kb_articles] CHECK CONSTRAINT [FK_kb_articles_categories]
GO
